<div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-8">
  <div
    class="mb-8 flex flex-col lg:flex-row lg:items-end justify-between gap-8"
  >
    <div>
      <h1 class="text-3xl font-bold mb-2">Twoja Galeria</h1>
      <p class="text-gray-600">
        Przeglądaj i zarządzaj swoimi wygenerowanymi postami
      </p>
    </div>

    <input
      type="text"
      class="p-3 rounded-md border w-full lg:w-1/3 border-gray-300 focus:border-purple-400 focus:outline-none focus:ring-2 focus:ring-purple-200 focus:ring-opacity-50 transition placeholder:text-gray-300 placeholder:font-light"
      placeholder="Szukaj..."
    />
  </div>
  <div class="grid grid-cols-3 gap-1">
    @for(post of posts; track $index) {
    <app-gallery-tile [post]="post"></app-gallery-tile>
    }
  </div>
</div>
