HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# ----- IDE Files -----
# IntelliJ IDEA
.idea/
*.iml

# Visual Studio Code
.vscode/

# Other IDE temp files
*.log

# ----- Spring Boot (Java) -----
# Maven target directories and Gradle build outputs
**/target/
**/build/

# ----- Angular (Frontend) -----
# Node.js dependencies and Angular build output
**/node_modules/
**/dist/

# System files
.DS_Store
Thumbs.db
.env
/angular-frontend/.angular/
