<nav class="fixed w-full backdrop-blur-md bg-white/80 z-50 shadow-sm">
  <div class="max-w-7xl mx-auto px-4 flex justify-between sm:px-6 lg:px-8 h-16">
    <div class="flex items-center cursor-pointer">
      <app-logo [small]="true"></app-logo>
      <span class="text-2xl font-bold text-gray-900">InstaGenius</span>
    </div>
    <!-- Desktop navigation -->
    <ul class="hidden md:flex items-center space-x-6">
      <li>
        <a
          href="#features"
          class="text-gray-600 text-sm hover:text-purple-700 font-medium cursor-pointer transition"
          >Funkcje</a
        >
      </li>
      <li>
        <a
          href="#how-it-works"
          class="text-gray-600 text-sm hover:text-purple-700 font-medium cursor-pointer transition"
          >Jak to działa?</a
        >
      </li>
      <li>
        <a
          href="#pricing"
          class="text-gray-600 text-sm hover:text-purple-700 font-medium cursor-pointer transition"
          >Cennik</a
        >
      </li>
      <li>
        <a
          href="#faq"
          class="text-gray-600 text-sm hover:text-purple-700 font-medium cursor-pointer transition"
          >FAQ</a
        >
      </li>

      <li>
        <a
          (click)="onLogin()"
          class="text-gray-600 text-sm hover:text-purple-700 font-medium cursor-pointer transition"
          >Logowanie</a
        >
      </li>
      <li>
        <a
          (click)="onRegister()"
          class="bg-purple-700 min-w-full block text-white px-4 py-2 rounded-xl text-sm cursor-pointer font-medium hover:bg-purple-800 transition shadow-sm transition"
          >Rozpocznij za darmo</a
        >
      </li>
    </ul>
    <div class="flex md:hidden items-center">
      <button
        (click)="onMenuToogle()"
        class="text-gray-600 hover:text-gray-900 focus:outline-none cursor-pointer"
      >
        <svg
          class="h-6 w-6"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          @if (isMenuOpen) {
          <path
            strokeLinecap="round"
            strokeLinejoin="round"
            strokeWidth="2"
            d="M6 18L18 6M6 6l12 12"
          />
          } @else {
          <path
            strokeLinecap="round"
            strokeLinejoin="round"
            strokeWidth="2"
            d="M4 6h16M4 12h16M4 18h16"
          />
          }
        </svg>
      </button>
    </div>
  </div>
  <!-- Mobile nav -->
  @if (isMenuOpen) {
  <ul class="md:hidden w-full bg-white pt-2 pb-4 px-4 shadow-lg rounded-b-lg">
    <li>
      <a
        href="#features"
        class="text-gray-600 py-2 block text-sm hover:text-purple-700 font-medium cursor-pointer"
        >Funkcje</a
      >
    </li>
    <li>
      <a
        href="#how-it-works"
        class="text-gray-600 py-2 text-sm block hover:text-purple-700 font-medium cursor-pointer"
        >Jak to działa?</a
      >
    </li>
    <li>
      <a
        href="#pricing"
        class="text-gray-600 py-2 text-sm block hover:text-purple-700 font-medium cursor-pointer"
        >Cennik</a
      >
    </li>
    <li>
      <a
        href="#faq"
        class="text-gray-600 py-2 text-sm block hover:text-purple-700 font-medium cursor-pointer"
        >FAQ</a
      >
    </li>

    <li>
      <a
        (click)="onLogin()"
        class="text-gray-600 py-2 text-sm block hover:text-purple-700 font-medium cursor-pointer"
        >Logowanie</a
      >
    </li>
    <li>
      <a
        (click)="onRegister()"
        class="bg-purple-700 mt-2 min-w-full block text-white px-4 py-2 rounded-lg text-sm cursor-pointer font-medium hover:bg-purple-800 transition shadow-sm"
        >Rozpocznij za darmo</a
      >
    </li>
  </ul>
  }
</nav>
