<footer class="bg-gray-900 text-gray-400 py-16">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="grid grid-cols-2 lg:grid-cols-4 gap-8 mt-8">
      <div class="py-4 md:py-0">
        <div class="flex items-center cursor-pointer">
          <app-logo class="hidden md:inline-block" [small]="true"></app-logo>
          <span class="text-xl font-bold text-white">InstaGenius</span>
        </div>
        <p class="text-gray-400 font-normal">
          Generuj kreatywne posty na Instagram z wykorzystaniem sztucznej
          inteligencji.
        </p>
        <div class="flex gap-2 my-4">
          <app-icon></app-icon>
          <app-icon></app-icon>
          <app-icon></app-icon>
        </div>
      </div>
      <div class="py-4">
        <span class="text-white font-normal text-lg">Produkt</span>
        <ul class="text-sm space-y-2 mt-4">
          <li>
            <a class="text-gray-400 hover:text-white transition" href=""
              >Funkcje</a
            >
          </li>
          <li>
            <a class="text-gray-400 hover:text-white transition" href=""
              >Jak to działa?</a
            >
          </li>
          <li>
            <a class="text-gray-400 hover:text-white transition" href=""
              >Cennik</a
            >
          </li>
          <li>
            <a class="text-gray-400 hover:text-white transition" href="">FAQ</a>
          </li>
          <li>
            <a class="text-gray-400 hover:text-white transition" href=""
              >Logowanie</a
            >
          </li>
          <li>
            <a class="text-gray-400 hover:text-white transition" href=""
              >Dołącz teraz</a
            >
          </li>
        </ul>
      </div>
      <div class="py-4">
        <span class="text-white font-normal text-lg">Firma</span>
        <ul class="text-sm space-y-2 mt-4">
          <li>
            <a class="text-gray-400 hover:text-white transition" href=""
              >O nas</a
            >
          </li>
          <li>
            <a class="text-gray-400 hover:text-white transition" href=""
              >Kontakt</a
            >
          </li>
        </ul>
      </div>
      <div class="py-4">
        <span class="text-white font-normal text-lg">Wsparcie</span>
        <ul class="text-sm space-y-2 mt-4">
          <li>
            <a class="text-gray-400 hover:text-white transition" href=""
              >Pomoc</a
            >
          </li>
          <li>
            <a class="text-gray-400 hover:text-white transition" href=""
              >Polityka prywatności</a
            >
          </li>
          <li>
            <a class="text-gray-400 hover:text-white transition" href=""
              >Warunki użytkownika</a
            >
          </li>
        </ul>
      </div>
    </div>
    <div
      class="border-t border-gray-800 mt-12 pt-8 flex flex-col md:flex-row justify-between items-center"
    >
      <p class="text-sm mb-4 md:mb-0">
        © 2025 InstaGenius. Wszelkie prawa zastrzeżone.
      </p>
      <div class="flex space-x-6">
        <a href="#" class="text-sm hover:text-white transition"
          >Polityka prywatności</a
        >
        <a href="#" class="text-sm hover:text-white transition"
          >Warunki użytkowania</a
        >
        <a href="#" class="text-sm hover:text-white transition">Ciasteczka</a>
      </div>
    </div>
  </div>
</footer>
