<div class="min-h-screen bg-gradient-to-b from-white to-purple-50">
  <header>
    <app-auth-header></app-auth-header>
  </header>
  <main class="pt-16 pb-16">
    <router-outlet></router-outlet>
  </main>
  <!-- <app-landing-footer></app-landing-footer> -->
  <!-- <button
    (click)="scrollToTop()"
    class="fixed bottom-8 right-8 bg-purple-700 text-white rounded-full p-3 shadow-xl hover:bg-purple-800 cursor-pointer transition"
  >
    <i-lucide [size]="24" [img]="arrowUp"></i-lucide>
  </button> -->
  <app-auth-nav-mobile></app-auth-nav-mobile>
</div>
